<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <div style="flex: 1; padding: 10px;">
      <img src="assets\WhatsApp Image 2024-08-12 at 19.58.38_f7172120.jpg" alt="fortheaboutus" style="width: 100%; max-width: 400px; height: auto;">
    </div>
    <div style="flex: 1; padding: 10px;">
      <h2 style="font-size: 24px;">R. Spencer Steenblik</h2>
      <p style="font-size: 14px;">R. Spencer Steenblik, has spend the last 20 years helping people optimize their places to be amazing and inspiring. He is a registered architect(New York), has built, taught, published, exhibited, and curated globally. His work\* negotiates vernacular and advanced digital processes through an equitable, interdisciplinary, sustainable and naturally inspired approach, creating urban intricacy and inspiring, interactive spaces. He’s spoken globally at universities\* such as MIT, Tongji University, Yonsei University, etc. His work is published prolifically\*.

        Steenblik has taken on academic roles\* at Indiana University, Bloomington, Pratt Institute, NJIT, CUNY, School of Public Architecture at Kean & Wenzhou-Kean University in China; and workshops at Tongji University, Shanghai Institute of Art, and Haikou University of Economics; and as architectural critic\* globally in an effort to provide mentorship to young designers through teaching both graduate and undergraduate students.
        </p>
      <p style="font-size: 14px;">His practice, phi architecture φ (f. 2004), (clients include: Google, Huayi Space, Venture Anyway, BYU and the Fictionist band) focuses on designing across scales. His influence, also felt at design offices such as Asymptote Architecture, Pelli Clarke Pelli (co-founder, innovation platform called REACH). He holds a masters from SCI-Arc (Southern California Institute of Architecture)</p>
    </div>
  </div>
  
  


